[submodule "sources/poky"]
	path = sources/poky
	url = git://git.yoctoproject.org/poky
	branch = thud
[submodule "sources/meta-raspberrypi"]
	path = sources/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = thud
[submodule "sources/meta-pseudodesign"]
	path = sources/meta-pseudodesign
	url = https://github.com/PseudoDesign/meta-pseudodesign.git
[submodule "sources/openembedded-core"]
	path = sources/openembedded-core
	url = git://git.openembedded.org/openembedded-core
	branch = thud
[submodule "sources/meta-freescale"]
	path = sources/meta-freescale
	url = https://github.com/Freescale/meta-freescale.git
[submodule "sources/meta-freescale-3rdparty"]
	path = sources/meta-freescale-3rdparty
	url = https://github.com/Freescale/meta-freescale-3rdparty.git
	branch = thud
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = thud
[submodule "sources/meta-toradex-bsp-common"]
	path = sources/meta-toradex-bsp-common
	url = git://git.toradex.com/meta-toradex-bsp-common.git
	branch = thud-next
[submodule "sources/meta-toradex-nxp"]
	path = sources/meta-toradex-nxp
	url = git://git.toradex.com/meta-toradex-nxp.git
	branch = thud-next
[submodule "sources/meta-toradex-demos"]
	path = sources/meta-toradex-demos
	url = git://git.toradex.com/meta-toradex-demos.git
	branch = thud-next
